[Unit]
Description=Hold My Engine Service (Port 9000)
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/hold_my
ExecStart=/usr/bin/php artisan serve --host=0.0.0.0 --port=9000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
